/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto-v30-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-condensed-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/roboto-condensed-v27-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    background-color: #616161 !important;
}

.wrapper {
    display: flex;
}

header {
    width: 100%;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    text-align: center;
    padding: 10px 0px;
}

header .logo img {
    width: 150px;
}

.sidebar {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    cursor: pointer;
    border-radius: 0px 0px 20px 0px;
}


.menus_menu {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;

    margin: 25px 40px;
    min-height: calc(80vh);
    gap: 12px;
}

.menus_menu a {
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: all .3s ease;
    gap: 10px;
}

.menus_menu a:hover {
    background-color: #07bc0d48;
    color: #ffffff;
    margin: 5px 40px;
    min-height: calc(80vh);
    gap: 12px;
}

.menus_menu a {
    text-decoration: none;
    padding: 12px;
    color: #ffffff;
    font-family: 'Roboto';
    display: flex;
    font-size: 14px;
    align-items: center;
    border-radius: 10px;
    transition: all .3s ease;
    border: 2px solid #07bc0d00;
    gap: 10px;
}

.menus_menu a:nth-child(1) {
    border: 2px solid #07bc0d48;
    color: #07bc0d;
}

.menus_menu a:hover {
    border: 2px solid #07bc0d48;
    color: #07bc0d;
}




main {
    /* width: calc(100vw - 200px); */
    padding: 20px;
    background-color: rgb(238, 242, 246);
    flex: 1 1 0%;
    min-height: calc(100vh - 70px);
    margin-top: 15px;
    border-top-left-radius: 6px;
    overflow: hidden;
    box-shadow: 16px 16px 15px -15px rgba(0, 0, 0, 0.75) inset;
}


#chartContainer {
    width: 450px;
    margin-left: 0px;
}

.diaganal span {
    font-size: 20px;
    text-align: center;
}

.languard {
    margin-top: 5px;
    cursor: pointer;
    gap: 10px;
    border: 2px solid #049c4c;
    padding: 10px 10px;
    border-radius: 75px;
}

.languard span {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #c3c3c3;
    text-align: center;
    transition: all .3s ease;
}

.languard span:nth-child(1) {
    color: #ffffff;
}

.languard span:hover {
    color: #ffffff;
}




.main {
    display: flex;
}





















.canvasjs-chart-toolbar {
    display: none !important;
}

.canvasjs-chart-credit {
    display: none !important;
}

.aside {
    display: grid;
    grid-template-rows: auto;
    column-gap: 20px;
}


aside {
    width: 331px;
    /* height: 100vh; */
}

main {
    padding: 20px;
}
#bar-chart-grouped {
    width: 100% !important;
    height: 100% !important;
}